@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- service section -->

<section class="service_section layout_padding">
  <div class="container ">
    <div class="heading_container heading_center">
      <h2> Our Services </h2>
    </div>
    <div class="row">
        @using Umbraco.Cms.Core.Models;
        
@{
	var selection = Umbraco.Content(Guid.Parse("1af4bd5b-0831-468d-abc1-520879de7cb8"))
    .Children()
    .Where(x => x.IsVisible());
}

	@foreach (var item in selection)
	{
		var image = item.Value<MediaWithCrops>("serviceIcon");
		var subHeader = item.Value("serviceDescription");
	 <a href="@item.Url()" class="col-sm-6 col-md-4 mx-auto">
         <div class="box ">
          <div class="img-box">
              @if(image != null ){
            <img src="@image.MediaUrl()" alt="" />
            }
          </div>
          <div class="detail-box">
            <h5>
              @item.Name()
            </h5>
            <p>
              @subHeader
            </p>
          </div>
        </div>
      </a>
	}
    </div>
    <div class="btn-box">
      <a href="/services/">
        View More
      </a>
    </div>
  </div>
</section>

<!-- end service section -->
