@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SingleService>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="detail-box">
          <h2>
            @Model.Value("mainHeader")
          </h2>
          <p>
            @Model.Value("subHeader")          
          </p>
          
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="img-box">
        @using Umbraco.Cms.Core.Models
        @{
            var MediaPicker = Model.Value<MediaWithCrops>("serviceIcon");
            if( MediaPicker != null)
            {
                <img src="@MediaPicker.MediaUrl()" style="width: 50%;"/>
            }
        }
        </div>
      </div>
      <div>
            @Model.Value("serviceDescription")
      </div>
    </div>
  </div>
</section>